html {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-size: 100% 100%;
    min-height: 100vh;
    height: fit-content;
    margin-left: calc(100vw - 100%);
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    margin-top: calc(31vw + 2.5rem);
    position: relative;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 90%;
    border-radius: 20px;
}
.hero-img-container {
    display: flex;
    position: absolute;
    width: 70%;
   height: 30vw;
   user-select: none;
}
.hero {
    position: absolute;
    width: 100%;
    height: 200%;
    background-repeat: no-repeat;
    top: -28vw;
    background-image: url(./images/illustration-woman-online-mobile.svg);
    background-size: 100%;
    user-select: none;
}
.hero-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    user-select: none;
}
h1 {
    color: hsl(238, 29%, 16%);
    margin-top: 31vw;
    font-weight: 700;
    text-align: center;
}
.faq-content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    color: hsl(240, 6%, 50%);
    font-size: 1rem;
    margin-bottom: 3rem;
}
.qa-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    user-select: none;
}
.qa-container:hover {
    cursor: pointer;
}
.qa-container > p {
    margin: 0;
    margin-bottom: 1rem;
    align-self: center;
    margin-right: 1rem;
    user-select: none;
}
.active-question {
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}
.arrow {
    margin-top: .5rem;
    content: url(./images/icon-arrow-down.svg);
    align-self: flex-start;
    justify-self: flex-end;
    transition: transform 0.2s ease-out;
}
.active-arrow {
    transform: rotate(180deg);
    transition: transform 0.2s ease-out;
}
.panel {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
    line-height: 1.5rem;
}
.attribution {
    color: hsl(238, 29%, 16%);
    margin-bottom: 2.5rem;
}

@media only screen and (min-width: 768px) {
    html {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card {
        position: relative;
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "hero content";
        width: clamp(450px, 90%, 800px);
    }
    .faq-content-container {
        grid-area: content;
        margin-bottom: 4rem;
        margin-top: 4rem;
        justify-self: flex-start;
    }
    h1 {
        text-align: start;
        margin-top: 0;
    }
    .hero-img-container {
        display: flex;
        position: absolute;
        width: 50%;
        height: 100%;
        overflow: hidden;
    }
    .cube {
        content: "";
        background-image: url(./images/illustration-box-desktop.svg);
        width: 50%;
        height: 50%;
        background-size: 40%;
        position: absolute;
        background-repeat: no-repeat;
        top: 10.5rem;
        left: -10%;
        z-index: 1;
        user-select: none;
    }
    .hero {
        top: 4rem;
        left: -15%;
        background-image: url(./images/illustration-woman-online-desktop.svg);
        height: calc(100% - 4rem);
    }
    .hero-shadow {
        background-image: url(./images/bg-pattern-desktop.svg);
        background-size: 200%;
        background-position: right bottom -6rem;
        left: -15%;
    }
  }

  @media (pointer:fine) {
    .qa-container > p:hover {
        color: hsl(14, 88%, 65%);
    }
}

